<ion-header>
    <ion-toolbar>
        <ion-title>
            {{authService?.currentUser?.company?.companyName}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="none" (click)="logout()">
                <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div id="container">
        <ion-row *ngIf="list">
            <ion-col size="12" *ngFor="let item of list; let i = index" (click)="call(item.id)">
                <ion-card>
                    <div [ngClass]="customColors[i]" class="border"></div>
                    <ion-label>
                        <h2>{{item.label}}</h2>
                    </ion-label>
                </ion-card>
            </ion-col>
        </ion-row>
        <div (click)="getDepartments()" class="noItems" *ngIf="!list.length && !isLoading">
            <ion-icon name="flash-off-outline"></ion-icon>
            <p>Somehting went wrong please try again !</p>
            <p class="link">Retry</p>
        </div>
    </div>
</ion-content>
