<ion-content>
    <ion-grid class="wrapper"></ion-grid>
    <ion-grid class="relative-grid">
        <ion-grid>
            <ion-icon class="user blob" src="assets/icon/user.svg"></ion-icon>
            <p class="name">{{status}}</p>
            <p class="timer">{{timer}}</p>
        </ion-grid>

        <ion-grid class="dismiss-grid">
            <ion-button  expand="round" [class]="!mute ? 'mute' : 'active'" fill="clear" (click)="muteCall()">
                <ion-icon slot="icon-only" [name]="getIconMute()"></ion-icon>
            </ion-button>
            <ion-button expand="round" class="dismiss" fill="clear" (click)="endCall()">
                <ion-icon slot="icon-only" name="recording-outline"></ion-icon>
            </ion-button>
        </ion-grid>
    </ion-grid>
    <audio id="waitingRing" style="visibility: hidden" loop>
        <source src="assets/music/waiting.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</ion-content>
