.top-grid {
  height: 34vh;
  color: #fafafa;
  background: linear-gradient(86deg, var(--ion-color-primary) 0%, var(--ion-color-secondary) 100%);

  ion-grid {
    margin-top: 7vh;

    h1 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 4vh;
    }
  }
}

.btm-grid {
  height: 70vh;
  margin-top: -4vh;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background: var(--ion-background-color);

  form {
    padding: 2vw;
    margin: 4vh auto auto;

    ion-label {
      font-size: 1.4rem;
      font-weight: bold;
    }

    .item-label-stacked.sc-ion-input-md-h, .item-label-stacked .sc-ion-input-md-h, .item-label-floating.sc-ion-input-md-h, .item-label-floating .sc-ion-input-md-h {
      --padding-top: 25px;
    }

    ion-item {
      margin-bottom: 2vh;
    }

    ion-button {
      margin-bottom: 2vh;
    }
  }
}

.password-button {
  margin: 5vh 0 0;
}

ion-item {
  --background: transparent !important;
}